<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>
  <%- pregen.head %>
</head>
  <%- pregen.header %>
  <h1><%- title %></h1>
  <p>
    Welcome to <%= title %>
  </p>
  <code><pre><%= src %></pre></code>
  <%- pregen.footer %>
</html>
